<div class="row">
    <div class="col-xs-3">
      <div class="row">
        <!--部分テンプレ-->
        <!--ペット一覧のユーザー-->
        <%= render 'layouts/side', user: current_user ,applying: @applying %>
        <%= render 'layouts/sidegenre', genres: @genres %>
      </div>
    </div><br>

<!--ブログ新規投稿-->
    <div class="col-xs-9">
        <%= form_for(@blog) do |f| %>
          <%= render 'layouts/error', model: f.object %>
          <%= attachment_image_tag @blog, :blog_image, fallback: "no_image.jpg" %><br>
          <%= f.attachment_field :blog_image %><!-- blog_image_idだがrefileの仕様でidなし --><!-- サイズについての表記を書く -->
        <p>＊印は必ず入力してください</p>
        <h4>タイトル＊</h4>
        <%= f.text_field :title,:size=>"85x1",placeholder: "タイトルを入力してください" %>
        <h4>本文＊</h4>
        <%= f.text_area :body,:size=>"85x20",placeholder: "本文を入力してください" %>
        <h4>ジャンル選択</h4>
        <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
        <%= genre.label {genre.check_box + genre.text } %>
        <% end %>
    <div class="row">
       <div class="col-xs-3 col-xs-offset-3">
         <%= f.submit "投稿",class: "btn btn-warning btn-block" %>
       </div>
    </div>
<% end %>
 </div>
</div>

<h1>Blogs#edit</h1>
<p>Find me in app/views/blogs/edit.html.erb</p>
