<!--部分点プレ-->
<!--新規投稿-->
<%= link_to"投稿", new_blog_path %><br>
<!--ブログ一覧-->
<% @blogs.each do |blog| %>
<%= link_to blog_path(blog.id) do %>
  <%= attachment_image_tag blog, :blog_image, size: "220x170",fallback: "no_image.jpg" %><br>
  <%= blog.title %>
  <%= blog.created_at %><!--JSTに後々変更-->
  <% blog.genres.each do |genre|%><!--登録されているジャンル一覧-->
      <%= genre.name %>
  <% end %>
  <% if blog.user == current_user %><!--後々管理者もできるようにする-->
    <%= link_to"編集", edit_blog_path(blog.id) %>
    <%= link_to"削除", blog_path(blog.id),method: :delete, data: {confirm: "本当に消しますか？"} %>
  <% end %>
<% end %><br>
<% end %>


<h1>Blogs#index</h1>
<p>Find me in app/views/blogs/index.html.erb</p>
