
<div class="row">
    <div class="col-xs-3">
      <div class="row">
        <p><%= render 'layouts/side', user: current_user, applying: @applying %></p>
        <!--ジャンル一覧-->
        <p><%= render 'layouts/sidegenre', genres: @genres %></p>
      </div>
    </div>

<!--ブログ新規投稿-->
    <div class="col-xs-9">
        <%= form_for(@blog) do |f| %>
        <%= render 'layouts/error', model: f.object %>
        <p><%= attachment_image_tag @blog, :blog_image, size: "600x520", fallback: "no_image.jpg" %></p>
        <%= f.attachment_field :blog_image %><!-- blog_image_idだがrefileの仕様でidなし --><!-- サイズについての表記を書く -->
        <p>＊印は必ず入力してください</p>
        <h4>タイトル＊</h4>
        <%= f.text_field :title,:size=>"85x1",placeholder: "タイトルを入力してください" %>
        <h4>本文＊</h4>
        <%= f.text_area :body,:size=>"85x20",placeholder: "本文を入力してください" %>
        <h4>ジャンル選択</h4>
        <p><%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
          <%= genre.label {genre.check_box + genre.text } %>
        <% end %></p>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-3">
              <%= f.submit "投稿",class: "btn btn-warning btn-block" %>
            </div>
        </div>
        <% end %>
    </div>
</div>