<div class="row">
  <div class="new-session col-xs-4 col-xs-offset-4">
    <h3>新規登録</h3><br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %>
      <em>(１文字以上１０字以下にしてください)</em><br />
      <p class="text-center"><%= f.text_field :name,:size=>"40x1" %></p>
    </div><br>
    <div class="field">
      <%= f.label :email %><br />
      <p class="text-center"><%= f.email_field :email,:size=>"40x1", autofocus: true, autocomplete: "email" %></p>
    </div><br>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 字以上にしてください)</em>
      <% end %><br />
      <p class="text-center"><%= f.password_field :password,:size=>"40x1", autocomplete: "new-password" %></p>
    </div><br>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <p class="text-center"><%= f.password_field :password_confirmation,:size=>"40x1", autocomplete: "new-password" %></p>
    </div><br>

    <div class="actions">
      <p class="text-center"><%= f.submit "登録",class: "btn btn-warning" %></p>
    </div>
    <% end %>

    <%= render "devise/shared/links" %><br>
  </div>
</div>
<br><br>