<%= render 'layouts/side', user: current_user ,applying: @applying %>
<%= render 'layouts/sidegenre', genres: @genres %>
<% if @user_or_blog == "1" %><!--userの場合-->
<%= @word %>
<table>
        <thead>
           <tr>
                <th>image</th>
                <th>name</th>
           </tr>
        </thead>
        <tbody><!--全ユーザー一覧-->
            <% @users.each do |user|%>
            <tr>
                <td><!--tdのそとにリンク書けないので中-->
                    <%= link_to user_path(user.id) do %>
                        <%= attachment_image_tag user, :icon, size: "40x40", fallback: "no_image.jpg" %>
                    <% end %>
                </td>
                <td>
                    <%= link_to user_path(user.id) do %>
                        <%= user.name %>
                    <% end %>
                </td><!--name --><!--showボタンで(そのidの投稿一覧 -->
            </tr>
            <% end %>
        </tbody>
    </table>
<%= paginate @users %>

<% else %>
<%= @word %>
<% @blogs.each do |blog| %>
<%= link_to blog_path(blog.id) do %>
  <%= attachment_image_tag blog, :blog_image, size: "220x170",fallback: "no_image.jpg" %><br>
  <%= blog.title %>
  <% end %>
  <%= blog.created_at.strftime("%Y年%m月%d日") %>
  <% blog.genres.each do |genre|%><!--登録されているジャンル一覧-->
      <%= link_to blog_genre_path(genre.id) do %>
        <%= genre.name %>
      <% end %>/
  <% end %>
  <%= blog.favorites.count %>いいね
  コメント数：<%= blog.blog_comments.count %><br>

  <% if blog.user == current_user %><!--本人のみできる-->
      <%= link_to"編集", edit_blog_path(blog.id) %>
  <% end %>
  <% if blog.user == current_user || current_user.admin? %><!--本人と管理者が可能-->
      <%= link_to"削除", blog_path(blog.id),method: :delete, data: {confirm: "本当に消しますか？"} %>
  <% end %><br>
<% end %>

<%= paginate @blogs %>
<% end %>