<!--ペット一覧のユーザー-->
<div class="row">
    <div class="col-xs-3">
      <div class="row">
        <%= render 'layouts/side', user: @user,applying: @applying %>
        <!--ペット一覧閲覧許可ユーザー-->
        <%= render 'layouts/sidepertners', users: @users %><br>
      </div>
    </div>
    <div class="col-xs-9">
    	<!--本人のみ投稿ボタン-->
    	<% if @user == current_user %><!--animalを投稿した人＝＝ログインしている人だが飛ばない。外部きーのとりかた-->
    	  <%= link_to"投稿", new_animal_path %><br>
    	<% end %>
    	<div class="row">
    	<!--ユーザー一人のペット一覧-->
    	  <% @user.animals.each do |animal| %>
    	    <div class="col-xs-3">
    	      <%= link_to animal_path(animal.id) do %>
    	        <%= attachment_image_tag animal, :animal_image, size: "250x250",fallback: "no_image.jpg",class: "img-circle" %><br>
    	        <p class="text-center"><%= animal.name %></p><br>
    	      <% end %>
    	    </div>
    	  <% end %>
    	  <div class ="text-center">
    		<%= paginate @users %>
    	  </div>
        </div>
    </div>
</div>