
 <div class="row">
    <div class="col-xs-3">
      <div class="row">
        <%= render 'layouts/side', user: @user, applying: @applying %>
        <%= render 'layouts/sidegenre', genres: @genres %>
      </div>
    </div>

    <div class="col-xs-9">
      <!--新規投稿-->
        <% if @user.id == current_user.id %><!--本人の場合のみ新規投稿-->
          <%= link_to new_blog_path do %>
             <%= image_tag "new.png",size: "40x40"%>
          <% end %>
        <% end %><br><br>

      <!--ブログ一覧、投稿順に並べる-->
      <div class="row">
        <% @user.blogs.each do |blog| %>
          <div class="blog_index col-xs-3">
            <%= link_to blog_path(blog.id) do %>
              <%= attachment_image_tag blog, :blog_image,size: "180x180",fallback: "no_image.jpg" %><br>
              <h4><%= blog.title %></h4>
              <% end %>
            <% blog.genres.each do |genre|%><!--登録されているジャンル一覧-->
               <%= link_to blog_genre_path(genre.id),class: "btn btn-default btn-xs" do %>
                 <%= genre.name %>
               <% end %>
            <% end %><br>
            <%= blog.created_at.strftime("%Y/%m/%d/%H:%M") %>
            <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: #ef857d;"></span><%= blog.favorites.count %>
            <span class="glyphicon glyphicon-comment" aria-hidden="true" style="color: #82cddd;"></span><%= blog.blog_comments.count %><br>

            <% if blog.user == current_user %><!--本人のみ-->
              <p class="text-right"><%= link_to"edit", edit_blog_path(blog.id) %>
            <% end %>
            <% if blog.user == current_user || current_user.admin? %><!--本人と管理者が可能-->
              <%= link_to"destroy", blog_path(blog.id),method: :delete, data: {confirm: "本当に消しますか？"} %></p>
            <% end %>
          </div>
        <% end %><br>
      </div>
      <div class ="text-center">
         <%= paginate @blogs %><!--kaminari-->
      </div>
    </div>
</div>
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
