<div class="row">
    <div class="col-xs-3">
      <div class="row">
        <!--ペット一覧閲覧許可ユーザー-->
        <%= render 'layouts/side', user: current_user, applying: @applying %>
        <%= render 'layouts/sidepertners', users: @users %><br>
      </div>
    </div>
<!--ペット詳細-->
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-4">
               <%= attachment_image_tag @animal, :animal_image, size: "150x150",fallback: "no_image.jpg" %><br>
            </div>
        <div class="col-xs-8 table-responsive">
            <table class="table table-bordered animaltable">
                <tbody>
              <tr class="something">
                 <th class="warning">名前</th><td class="col-md-10"><%= @animal.name %></td>
              </tr>
              <tr>
                 <th class="warning">birth</th><td><%= @animal.birth.strftime("%Y年%m月%d日") %></td><!--書き方考える-->
              </tr>
              <tr>
                 <th class="warning">food</th><td><%= @animal.food %></td>
              </tr>
              <tr>
                 <th class="warning">toilet</th><td><%= @animal.toilet %></td>
              </tr>
              <tr>
                 <th class="warning">water</th><td><%= @animal.water %></td>
              </tr>
              <tr>
                 <th class="warning">hospital</th><td><%= @animal.hospital %></td>
              </tr>
              <tr>
                 <th class="warning">other</th><td><%= @animal.other %></td>
              </tr>
              </tbody>
            </table><br>
        </div>
    </div>

    <% if @animal.user == current_user %>
      <p class="text-right">
        <%= link_to "編集", edit_animal_path(@animal.id) %> /
        <%= link_to "削除", animal_path(@animal.id),method: :delete, data: {confirm: "本当に消しますか？"}  %>
      </p>
    <% end %>

    <!--コメント登録-->
    <%= form_for [@animal,@comment] do |f| %>
    <%= render 'layouts/error', model: f.object %>
    <%= f.text_area :comment, placeholder:"comment", :size=>"30x1" %>
    <%= f.submit "送信" %>
    <% end %><br>

    <!--コメント一覧-->
    <% @animal.animal_comments.each do |animal_comment| %>
    <%= link_to user_path(animal_comment.user.id) do %><!--ユーザーのshowへ-->
    <%= attachment_image_tag animal_comment.user , :icon, size: "60x60",fallback: "no_image.jpg" %>
    <%= animal_comment.user.name %><br>
    <% end %>
    <%= animal_comment.comment %><br>
    <%= animal_comment.created_at.strftime("%Y-%m-%d %H:%M") %>
    <% if animal_comment.user == current_user %>
    <%= link_to "削除", animal_animal_comments_path(animal_comment.id),method: :delete, data: {confirm: "本当に消しますか？"}  %>
    <% end %><br>
    <% end %>
    <div class ="text-center">
      <%= paginate @comments %>
    </div>
    </div>


    <!--タスク一覧-->
    <div class="col-xs-3">
        <h4>To Do List</h4>
        <%= form_for [@animal, @task] do |f| %>
        　　<%= f.text_field :content, placeholder:"例：おもちゃを買う" %>
        　　<%= f.submit"投稿",class: "btn btn-warning btn-xs" %>
        <% end %><br>
        <!--タスク一覧-->
        <% @animal.tasks.each do |task|%>
        <%= check_box_tag '', '', task.done, {'data-id' => task.id, 'animal_id' => task.animal_id} %><%= task.content %><!--id,value必要なし-->
        <a class="no-line"><%= link_to animal_tasks_path(task.id),method: :delete do%>
        　　<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #82cddd;"></span>
        <% end %></a>
        <br>
        <% end %>
    </div>

    <!-- jqueryの機能を使ってチェックボックスの制御を行う -->
    <script type="text/javascript">
        $(function() {
            $("input[type=checkbox]").click(function() {
                $.post('/animals/'+$(this).data('animal_id')+'/tasks/'+$(this).data('id')+'/change')
            })
        })
    </script>
</div>
</div>

    <h1>Animals#show</h1>
    <p>Find me in app/views/animals/show.html.erb</p>
