
 <!--画像表示するようにする-->

  <div>
    <p class="text-center">
    <%= link_to user_path(user) do %>  <!--user＃showへ-->
       <%= attachment_image_tag user, :icon, size: "170x170", fallback: "no_image.jpg",class: "img-circle"%>
    <% end %></p>
      <table class="table">
   	    <p class="text-center">
          <tbody>
          <p class="text-center"><tr><th>name</th><td><%= user.name %></td></tr></p><!--railsなので％-->
           <p class="text-center"><tr><th>introduction</th><td><%= user.introduction %></td></tr></p>
        </tbody></p>
      </table>
      <!--フォローつける-->
      <p class="text-center">
        <%= link_to user.active_relationships.count, user_followers_path(user) %>フォロー
    　   <%= link_to user.passive_relationships.count, user_followers_path(user) %>フォロワー
      </p>
   </div>
<div><!--フォローボタン,ログイン時のみ表示-->
    <% if user_signed_in? %><!-- ログインしているか -->
       <% if current_user != user %>
  　      <% if current_user.following?(user) %>
            <p class="text-center"><%= link_to 'フォローを外す', user_relationships_path(user_id: user.id),class: "btn btn-default", method: :delete %></p>
  　      <% else %>
  　　       <p class="text-center"><%= link_to 'フォローする', user_relationships_path(user_id: user.id),class: "btn btn-warning", method: :post %></p>
          <% end %>
        </p>
        <% end %>
    <% end %>
</div>
<!--お世話記録、ログイン時のみ表示-->
<% if user_signed_in? %><!-- ログインしているか -->
     <!--本人-->
     <% if current_user == user %><!--本人の場合-->
       <p class="text-center">
         <%= link_to "お世話記録",user_animal_path(user.id),class: "btn btn-warning" %>
       </p>
       <p class="text-center">
         <%= link_to "マイページ",edit_user_path(current_user.id),class: "btn btn-warning" %>
       </p>
     <% end %><!--本人以外-->
     <% if current_user != user %>
        <% if current_user.permitting?(user) %><!--申請していてステータス０-->
              <% if applying.status == "applying" %><!--レコードあり、ステータす０-->
                  <p class="text-center">お世話パートナー申請中</p>
                  <p class="text-center"><%= link_to "申請解除", user_animal_permits_path(user_id: user.id, flg: "own"),class: "btn btn-default",method: :delete, data: {confirm: "本当に解除しますか？"} %></p>
              <% elsif applying.status == "permit" %>
                  <p class="text-center"><%= link_to "お世話記録",user_animal_path(user.id),class: "btn btn-warning" %></p>
                  <p class="text-center"><%= link_to "パートナー解除",user_animal_permits_path(user_id: user.id,flg: "other"),method: :delete, data: {confirm: "本当に解除しますか？"} %></p>
                  <p class="text-center"><u>お世話共有申請とは</u></p>
                  <p><span style="font-size:0.9em;">飼っているペットのお世話記録を共有します。</span></p>
                  <p><span style="font-size:0.9em;">実際にこのユーザーとお世話をしている方のみ申請を行ってください</span></p>
                </p>
              <% end %>
        <% else %><!--申請していてステータス１-->
                  <p class="text-center"><%= link_to "お世話パートナー申請", user_animal_permits_path(user_id: user.id),class: "btn btn-default",method: :post %></p>
                  <p>
                  <p class="text-center"><u>お世話共有申請とは</u></p>
                  <p><span style="font-size:0.9em;">飼っているペットのお世話記録を共有します。</span></p>
                  <p><span style="font-size:0.9em;">実際にこのユーザーとお世話をしている方のみ申請を行ってください</span></p>
                </p>
        <% end %>
     <% end %>
<% end %>
  </div>
  <div>