
 <!--画像表示するようにする-->

  <div class="panel-body">
    <p class="text-center">
    <%= link_to user_path(user) do %>  <!--user＃showへ-->
    <%= attachment_image_tag user, :icon, size: "150x150", fallback: "no_image.jpg"%>
    <% end %></p>
     <table class="table">
   	   <tbody>
        <tr><th>name</th><td><%= user.name %></td></tr><!--railsなので％-->
        <tr><th>introduction</th><td><%= user.introduction %></td></tr>
       </tbody>
     </table>
     <!--フォローつける-->
      <p class="text-center">
        <%= link_to user.active_relationships.count, user_followers_path(user) %>フォロー
    　   <%= link_to user.passive_relationships.count, user_followers_path(user) %>フォロワー
      </p>
    </tr>
  </tbody>
</table>
</div>
<div><!--フォローボタン,ログイン時のみ表示-->
    <% if user_signed_in? %><!-- ログインしているか -->
       <% if current_user != user %>
  　      <% if current_user.following?(user) %>
         <p class="text-center">
            <%= link_to 'フォロー外す', user_relationships_path(user_id: user.id), method: :delete %>
  　      <% else %>
  　　       <%= link_to 'フォローする', user_relationships_path(user_id: user.id), method: :post %>
          <% end %>
        </p>
        <% end %>
    <% end %>
</div>
<!--お世話記録、ログイン時のみ表示-->
<% if user_signed_in? %><!-- ログインしているか -->
     <!--本人-->
     <% if current_user == user %><!--本人の場合-->
       <p class="text-center">
         <%= link_to "お世話記録",user_animal_path(user.id),class: "btn btn-default" %><br>
       </p>
       <p class="text-center">
         <%= link_to "マイページ",edit_user_path(current_user.id),class: "btn btn-default" %>
       </p>
     <% end %><!--本人以外-->
     <% if current_user != user %>
        <% if current_user.permitting?(user) %><!--申請していてステータス０-->
              <% if applying.status == "applying" %><!--レコードあり、ステータす０-->
                  <p>お世話パートナー申請中</p>
                  <%= link_to "申請解除", user_animal_permits_path(user_id: user.id),method: :delete, data: {confirm: "本当に解除しますか？"} %>
              <% elsif applying.status == "permit" %>
                  <%= link_to "お世話記録",user_animal_path(user.id) %>
                  <%= link_to "パートナー解除",user_animal_permits_path(user_id: user.id),method: :delete, data: {confirm: "本当に解除しますか？"} ,class: "btn" %>
              <% end %>
        <% else %><!--申請していてステータス１-->
                  <%= link_to "お世話パートナー申請", user_animal_permits_path(user_id: user.id),method: :post %>
        <% end %>
     <% end %>
<% end %>
  </div>
  <div>