<!DOCTYPE html>
<html>
<head>
  <title>Pet</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <%= render 'layouts/header' %>
  <div class="body">
    <div class='container'>

      <p id="notice" style="color: red;"><%= notice %></p><!--メッセ-->

      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
