<!DOCTYPE html>
<html>
<head>
  <title>Pet</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">

  </script>
  <script src="https://cdn.jsdelivr.net/npm/skipper@0.8.7/index.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <%= render 'layouts/header' %>
  <div class="body">
    <div class='container'>

      <p id="notice" style="color: red;"><%= notice %></p><!--メッセ-->

      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
